# pycharm
.idea/

*.pyc
*.log
backend/*/migrations/*
!backend/*/migrations/__init__.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
pythonenv*

backend/data/config/*
backend/data/log/*
backend/data/public/avatar/*
!backend/data/public/avatar/default.png
backend/data/public/upload/*
backend/data/public/website/*
!backend/data/public/website/favicon.ico
backend/data/ssl/*
backend/data/test_case/*
!**.gitkeep

db

# DB backup
*.sql
apikey.py