<!DOCTYPE html>
<html lang="ko">

{% extends 'main.html' %}

{% block content %}
<div class="forms">
  <div class="row_layout mb-4" style="justify-content: space-between;">
    <div class="column_layout" style="text-align: start;">
      <span id="preview_title" style="font-size: 20px; font-weight: bold;">{{today|date:'Y년 m월 d일'}} 뉴스 클리핑</span>
      <span id="preview_period"
        style="font-size: 12px;">{{from_date|date:'Y-m-d H:i'}}~{{to_date|date:'Y-m-d H:i'}}</span>
    </div>
    <button class="btn btn-primary my-auto" style="font-weight: bold;">바로 발송</button>
  </div>

  <nav>
    <div class="nav nav-tabs mb-2" id="nav-tab" role="tablist">
      {% if data_by_keyword %}
      {% for keyword, data in data_by_keyword.items %}
      {% if forloop.first %}
      <a class="nav-item nav-link active mx-1" id="nav-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-{{data.keyword_wo_space}}"
        role="tab" aria-controls="nav-{{data.keyword_wo_space}}" aria-selected="true">{{keyword}}</a>
      {% else %}
      <a class="nav-item nav-link mx-1" id="nav-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-{{data.keyword_wo_space}}"
        role="tab" aria-controls="nav-{{data.keyword_wo_space}}" aria-selected="true">{{keyword}}</a>
      {% endif %}
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
  </nav>
  <div class="tab-content w-100 mb-4">
    {% if data_by_keyword %}
      {% for keyword, data in data_by_keyword.items %}
        {% if forloop.first %}
          <div id="nav-{{data.keyword_wo_space}}" class="tab-pane fade active show" aria-labelledby="nav-{{data.keyword_wo_space}}-tab" role="tabpanel">
        {% else %}
          <div id="nav-{{data.keyword_wo_space}}" class="tab-pane fade" aria-labelledby="nav-{{data.keyword_wo_space}}-tab" role="tabpanel">
        {% endif %}
        <div class="row row-cols-2 mb-4" style="overflow-y: auto; overflow-x: hidden; height: 300px;">
          {% if data.news_list|length > 0 %}
            {% for news in data.news_list %}
              <div class="col mb-2">
                <div class="card text-break">
                  <div class="card-body">
                    <span>
                      <a class="text-decoration-none" href="{{news.url}}" style="font-size: 16px; font-weight: bold;"
                        target="_blank" rel="noopener noreferrer">{{news.title}}</a>
                    </span>
                    <br>
                    <span style="font-size: 14px;">{{news.press}} {{news.reporter}}기자</span>
                    <br>
                    <span class="text-black-50" style="font-size: 14px;">
                      {% for reaction_type, reaction_cnt in news.reaction_ko.items %}
                        {{reaction_type}}: {{reaction_cnt}}
                      {% endfor %}
                    </span>
                    {% if news.reaction_ko.items|length > 0 %}
                      <br>
                    {% else %}
                    {% endif %}
                    <span style="font-size: 14px;">{{news.snippet}}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
            {% else %}
              <div class="m-auto text-center" style="font-size: 20px; font-weight: bold;">
                "{{keyword}}" 키워드 관련 뉴스가 없습니다
              </div>
            {% endif %}
        </div>
        <div class="row">
          <div class="col-6">
            <span class="mb-2" style="font-size: 16px; font-weight: bold;">워드클라우드</span>
            <nav>
              <div class="nav nav-tabs mb-2" id="nav-wc-tab" role="tablist">
                <a class="nav-item nav-link active mx-1" id="nav-wc-mix-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-wc-mix-{{data.keyword_wo_space}}"
                  role="tab" aria-controls="nav-wc-mix-{{data.keyword_wo_space}}" aria-selected="true">Mix</a>
                <a class="nav-item nav-link mx-1" id="nav-wc-ner-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-wc-ner-{{data.keyword_wo_space}}" role="tab"
                  aria-controls="nav-wc-ner-{{data.keyword_wo_space}}" aria-selected="true">NER</a>
                <a class="nav-item nav-link mx-1" id="nav-wc-pos-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-wc-pos-{{data.keyword_wo_space}}" role="tab"
                  aria-controls="nav-wc-pos-{{data.keyword_wo_space}}" aria-selected="true">POS</a>
                <a class="nav-item nav-link mx-1" id="nav-wc-ner-table-{{data.keyword_wo_space}}-tab" data-bs-toggle="tab" href="#nav-wc-ner-{{data.keyword_wo_space}}-table" role="tab"
                  aria-controls="nav-wc-ner-{{data.keyword_wo_space}}-table" aria-selected="true">개체명</a>
              </div>
            </nav>
            <div class="tab-content mb-2 d-flex justify-content-center" style="overflow-y: auto; height: 350px;">
              <div id="nav-wc-mix-{{data.keyword_wo_space}}" class="tab-pane fade wc-tab active show" aria-labelledby="nav-wc-mix-tab" role="tabpanel" wc-data="{{data.freq_data.MIX|safe}}">
              </div>
              <div id="nav-wc-ner-{{data.keyword_wo_space}}" class="tab-pane fade wc-tab" aria-labelledby="nav-wc-ner-tab" role="tabpanel" wc-data="{{data.freq_data.NER|safe}}">
              </div>
              <div id="nav-wc-pos-{{data.keyword_wo_space}}" class="tab-pane fade wc-tab" aria-labelledby="nav-wc-pos-tab" role="tabpanel" wc-data="{{data.freq_data.POS|safe}}">
              </div>
              <div id="nav-wc-ner-{{data.keyword_wo_space}}-table" class="tab-pane fade w-100 overflow-auto" aria-labelledby="nav-wc-ner-table-tab" role="tabpanel">
                <table class="table table-centered table-nowrap rounded">
                  <thead class="thead-light">
                    <tr>
                      <th>개체명</th>
                      <th>#</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for tag in data.freq_data.NER %}
                    <tr>
                      <td>{{tag.0}}</td>
                      <td>{{tag.1}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-6">
            <span class="mb-2" style="font-size: 16px; font-weight: bold;">감성분석</span>
            <div class="table-responsive" style="overflow-y: auto; height: 350px;">
              <table class="table table-centered table-nowrap rounded">
                <thead class="thead-light">
                  <tr>
                    <th style="font-size: 14px;">Aspect</th>
                    <th style="font-size: 14px;">#</th>
                    <th style="font-size: 14px;">Opinion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for aspect, opn_list in data.absa %}
                  <tr>
                    <td>{{aspect}}</td>
                    <td>{{opn_list.0}}</td>
                    <td style="white-space: normal;">
                      {% for opn, opn_cnt in opn_list.1 %}
                      {% if forloop.first %}
                      {{opn}}({{opn_cnt}})
                      {% else %}
                      , {{opn}}({{opn_cnt}})
                      {% endif %}
                      {% endfor %}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      {% endif %}
    </div>
{% endblock content %}

</html>