Django==3.2.10
Scrapy==2.5.1
bs4==0.0.1
selenium==3.141.0
pymongo==3.12.3
djongo>=1.3.6
sqlparse>=0.2.4
transformers>=2.10.0
seqeval>=0.0.12
sentencepiece>=0.1.96
konlpy>=0.6.0
soyspacing>=1.0.0
git+https://github.com/himanshudabas/twint.git
git+https://github.com/ssut/py-hanspell.git